* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-size: 16px;
    background-color: #ede7f6;
}

main {
    background-color: #e8eaf6 ;
    width: 35%;
    border: 2px solid black;
    border-radius: 3rem;
    margin: 5rem auto;
    box-shadow: 0 16px 24px 2px rgba(120, 217, 241, 0.14), 
    0 6px 30px 5px rgba(0,0,0,0.12), 
    0 8px 10px -7px rgba(0,0,0,0.2);
}
.arrow{
    color: black;
    padding-left:  3.5vw;
    padding-top: 2vh;
}
.dot-icon{
    padding-left: 26vw;

}
.image-section {
    position: relative;
    top: 8px;
    bottom: 1px;
    height: 300px;
    width: 300px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgb(232, 237, 238);
    border-radius: 50%;
    overflow: hidden;
    margin: auto;
}
.image-section img {
    width: 100%;
    height: 50vh;
}

.image-section span {
    position: absolute;
    top: 10px;
    left: 30px;
    color: #fff;
}

.description-section {
    margin-top: 20px;
    border: 2px solid white;
    border-radius: 2rem;
    padding: 20px;
}
.description-section ul{
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    padding: 10px 0;
}
.description-section ul li {
    width: 33%;
}

.description-section ul li:nth-child(2) {
    border: 1px solid #D1D1D1;
    border-bottom: none;
    border-top: none;
    padding: 0 10px;
}

hr {
   border: 1px solid #D1D1D1;
   width: 100%;
   margin: 5px auto;

}

.description-section article p {
    padding: 10px 0;
}

footer {
    width: 29rem;
    border-bottom-right-radius: 2rem;
    border-bottom-left-radius: 2.2rem;
    display: flex;
    justify-content: flex-end;
    padding: 10px 20px;
    box-shadow: 0 16px 24px 2px rgba(74, 194, 241, 0.14), 
    0 6px 30px 5px rgba(0,0,0,0.12), 
    0 8px 10px -7px rgba(0,0,0,0.2);
}
footer  a{
    color:#28b4fa ;
}


@media only screen and (max-width: 400px){
    main {
        width: 89%;
    }
    .description-section ul li {
        flex: 1 1 33%;
    }
    footer{
        width: 20rem;
    }
    .arrow{
        display: flex;
        justify-content: end;
    }
    .dot-icon{
        display: none;
    }
   
}

/* Tablets version */
@media only screen and (min-width: 401px) and (max-width: 524px) {
 
    main {
        width: 70%;
    }

    .description-section ul li {
        flex: 1 1 33%;
    }
}

@media only screen and  (min-width: 525px) and (max-width: 760px) {
    main {
        width: 50%;
    }
    .description-section ul li {
        flex: 1 1 33%;
    }
}